body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;             
  flex-wrap: wrap;           
  justify-content: flex-start;   
  margin-left: 20px;
  gap: 30px;                  
  margin-top: 10px;
  padding: 0 20px;
}

.title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #7b0000;
  text-align: center;
}

.subtitle {
  width: 100%;
  color: #555;
  text-align: center;
}

.booking-card {
  width: 420px;               
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.room-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-content {
  text-align: left;
  padding: 20px;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-header h2 {
  color: #7b0000;
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
}

.status {
  background-color: #7b0000;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.room-details p {
  color: #555;
  margin: 5px 0;
  font-size: 0.95rem;
}

.check-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.label {
  font-weight: 600;
  color: #333;
}

.date {
  color: #555;
  font-size: 0.95rem;
}

.price {
  margin-top: 15px;
}

.price p {
  margin: 0;
  font-size: 1rem;
  color: #444;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.modify-btn,
.cancel-btn {
  flex: 1;
  padding: 10px 0;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  transition: 0.3s;
}

.modify-btn {
  background-color: #f3f3f3;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
}

.modify-btn:hover {
  background-color: #ddd;
}

.cancel-btn {
  background-color: #7b0000;
  color: #fff;
  font-weight: bold;
}

.cancel-btn:hover {
  background-color: #900000;
}


